@mixin button {
  background: #e6e6e6;
  cursor: pointer;
  width: 80px;
  height: 40px;
  border-radius: 8px;
  font-weight: bold;
}

.ticket {
  background: #e6e6e6;
  margin-top: 2rem;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 8px;

  .name {
    font-weight: bold;
    text-transform: capitalize;
    padding: 8px;
    padding-bottom: 28px;
  }

  .purchaseCount {
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    padding: 8px;
    margin-bottom: 8px;
  }

  .ticketsPurchased {
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    padding: 8px;
    margin-bottom: 8px;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.editBtn {
  @include button();
}

.deleteBtn {
  @include button();
  background: red;
  color: white;
}

.editTicket {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2rem;
}

.tickets {
  display: flex;
  flex-direction: column;

  .ticketLink {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}